@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #F1F1F1;
  --unblue: #6491DE;
  --dc: #073D7F;
  --background: #F1F6FB;
  --second-background: #90c1eb;
}

* {
  box-sizing: border-box;
  margin: auto;
  font-family: 'Roboto';
}

.head {
  height: 82vh; 
  overflow: hidden; 
  position: relative;
}


.pic-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}


.hero {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
  z-index: 10;
}


figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: slideShow 24s linear infinite;
}


.pic-1 {
  background-image: url('./assets/accounting-1.jpg');
  opacity: 1; 
  animation-delay: 0s;
}

.pic-2 {
  background-image: url('./assets/accounting-2.jpg');
  animation-delay: 8s; 
}

.pic-3 {
  background-image: url('./assets/accounting-3.jpg');
  animation-delay: 16s; 
}


@keyframes slideShow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  8.33% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  41.66% {
    opacity: 0;
    transform: scale(1.1); 
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.hero h1 {
  color: #fff;
  font-size: 3rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--white);
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-item {
  list-style-type: none;
  color: #6491DE;
  font-weight: bold;
  transition: 0.5s ease all;
  cursor: pointer;
}

.nav-items > a {
  text-decoration: none;
}

.nav-item:hover {
  color: var(--dc);
}

.services {
  display: flex;
  margin-bottom: 20px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  gap: 100px;
  border-right: 1px solid var(--dc);
  width: 100%;
  transition: 0.5s ease all;
  margin-top: 1px;
}

.service:hover {
  background-color: var(--background);
}

.service:last-child {
  border: none;
}


.service > i {
  font-size: 35px;
  color: var(--dc);
  border: 1px solid var(--dc);
  padding: 20px;
  border-radius: 10px;
  margin-left: 0;
}

.service > p {
  margin: 0;
}

.read-more {
  opacity: 0; 
  cursor: pointer;
  height: 20px;
}

.read-more:after {
  display: block;
  content: "";
  border-bottom: solid 3px var(--unblue);
  transform: scaleX(0.46);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
  width: 35%;
}

.read-more:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50% ;
}

.fade-in {
  animation: fadeInAnimation ease 0.9s;
  animation-fill-mode: forwards; 
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-us-container {
  display: flex;
  padding: 50px;
  gap: 40px;
  
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
  background-color: var(--background);

  animation: slideIn 1s ease-out forwards;
}

.about-us-container.show {
  transform: translateX(0);
  opacity: 1;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.about-us-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}

.about-us-container > img {
  width: 500px;
}

.about-us-container > .about-us-text > button {
  background-color: var(--unblue);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: 20%;
  cursor: pointer;
  transition: 0.5s ease all;
}

.about-us-container > .about-us-text > button:hover {
  background-color: var(--dc);
}

.our-team {
  display: flex;
  text-align: center;
  gap: 40px;
  padding: 40px;
  justify-content: center;
}

.our-team-inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid var(--dc);
  padding: 50px;
  border-radius: 500px;
  transition: 0.5s ease all;
}

.our-team-inner:hover {
  background-color: var(--second-background);
}

.our-team-slider {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.our-team-slider-inner {
  display: flex;
  justify-content: center;
  gap: 50px;
  opacity: 1;
}

.indicators {
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.5s;  
}

.dot.active {
  background-color: var(--dc);
}

.slider-btn {
  padding: 10px;
  color: var(--unblue);
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease all;
  font-size: 50px;
}

.slider-btn:hover {
  color: var(--dc);
}

.our-team-social-media {
  display: flex;
  gap: 20px;
}

.our-team-social-media > a > i {
  font-size: 20px;
  transition: 0.5s ease all;
}

.fa-instagram {
  color: #E1306C;
}

.fa-facebook {
  color: #3B5998;
}

.fa-linkedin {
  color: #0A66C2;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  padding: 80px;
}

.numbers > * {
  margin: 0;

}

.data-number {
  display: flex;
  background-color: #073D7F;
  padding: 100px 40px 100px 40px;
  border-radius: 10px;
}

.data-number:not(:first-child):not(:last-child) {
  transform: scale(1.4);
}

.data-number-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data-number-inner > p {
  font-size: 30px;
  color: white;
}

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(#ffffff, var(--second-background));
  margin: auto;
  padding: 20px;
  width: 100%;
}

.faq-inner {
  display: flex;
  border-bottom: 1px solid var(--dc);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  height: 100px;
}

.questions {
  font-size: 14px;
  width: 50%;
}

.faq-inner > p {
  text-align: center;
}

.rotate-down {
  transform: rotate(180deg);
}

.active {
  background-color: var(--dc);
}

.answer {
  width: 70%;
  text-align: center;
}

.faq-inner-question-arrow {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fa-arrow-down {
  font-size: 20px;
  color: white;
  padding: 10px;
  background-color: var(--unblue);
  border-radius: 200px;
  transition: 0.5s ease all;
  cursor: pointer;
}

.fa-arrow-down:hover {
  background-color: var(--dc);
}

.fa-arrow-down.rotate-down {
  background-color: var(--dc);
}

.fa-arrow-down:active {
  background-color: var(--dc);
}

.faq-inner:last-child {
  border: none;
}
